body {
background-color: #f0f0f0;
margin: 0 1px;
color: #222;
text-align: center;
width: 99%;
}
div#topheader {
float: left;
padding: 20px 10px 0;
font-size: 20px;
font-weight: 700;
}
div#topheader a {
color: #555;
padding-left: 10px;
padding-right: 0;
text-decoration: none;
text-shadow: 2px 2px 1px #8191a1;
}
div#header {
margin: 0;
margin-top:5px;
background: #aaa;
width: auto;
height: 64px;
box-shadow: 3px 3px 3px #555;
}
a {
text-decoration: none;
}
a:hover {
text-decoration: underline;
}
div#header nav {
float: right;
max-height: 64px;
padding: 22px;
}
div#header nav > a {
border: 1px solid #8191a1;
margin: 0 5px 5px 0;
color: #eee;
background: #8191a1;
padding: 10px 27px;
border-radius:5px;
text-shadow: 1px 2px 1px #222;
}
header h2 {
margin: 0;
padding: 5px 0 5px 20px;
border-radius:5px;
width: auto;
}
section article {
width: 100%;
}
div#content {
margin-top: 5px;
clear: both;
text-align: left;
}

table, thead, tr, td, th {
border-top: 1px solid #e0e0e0;
border-bottom: 1px solid #e0e0e0;
margin-left: 5px;
padding-left: 10px;
}
/*
.group {
background: #a0ebf5;
text-align: left;
}
*/
.rightt {
border-right: 1px solid #e1e1e1;
width: 83%;
}
p.group {
margin:0;
background: #e0ebf5;
padding-left: 10px;
width: auto;
}
table {
background:#d0d0d0;
border-collapse: collapse;
width: 100%;
}
.table_head {
background: #909090;
}
.rt {
	font-weight: 100;
	font-size: 0.5em;
}
